{% extends "../base/base.html" %}

{% block title %}lol101{% endblock title %}
{% block meta_description %}
    Descubre el emocionante mundo de League of Legends: Wild Rift, un juego multijugador de arena de batalla en línea (MOBA) desarrollado por Riot Games. Controla poderosos campeones y lucha en partidas emocionantes para destruir el Nexus del equipo enemigo. Experimenta la combinación de géneros de fantasía alta, steampunk y horror Lovecraftiano. Disponible para Android e iOS. | lol101
{% endblock meta_description %}

{% block meta_keywords %}
    League of Legends: Wild Rift, Riot Games, MOBA, juego para móvil, videojuego de arena de batalla, Android, iOS, fantasía alta, steampunk, horror Lovecraftiano | lol101
{% endblock meta_keywords %}
{% block template %}
{% include "../base/navbar.html" %}
{% include "./components/splash.html" %}
<div class="container pt-5" id="start">
    <div class="row">
       <div class="col-12 col-lg-8">

        {% include "./components/post-list-elements.html" %}
            
       </div> 
       <div class="d-none d-lg-block col-4">
        
        {% sidebar_tag_cloud %}
        {% include "../base/footer.html" %}

       </div> 
    </div>
</div>

{% endblock template %}