asgiref==3.7.2
autopep8==2.0.2
beautifulsoup4==4.12.2
black==23.7.0
bleach==6.0.0
click==8.1.4
colorama==0.4.6
coverage==7.2.7
Django==4.2.3
django-appconf==1.0.5
django-autoslug==1.9.9
django-htmx==1.16.0
django-imagekit==4.1.0
django-summernote==0.8.20.0
django-taggit==4.0.0
django-tinymce4-lite==1.8.0
factory-boy==3.2.1
Faker==19.0.0
flake8==6.0.0
inflection==0.5.1
iniconfig==2.0.0
jsmin==3.0.1
lxml==4.9.3
Markdown==3.4.3
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
pilkit==2.0
Pillow==10.0.0
platformdirs==3.5.3
pluggy==1.2.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.4.0
pytest-cov==4.1.0
pytest-django==4.5.2
pytest-factoryboy==2.5.1
python-dateutil==2.8.2
python-dotenv==1.0.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
webencodings==0.5.1
