{% extends "./base.html" %}
{% block title %}{{ post.title|truncatechars:30 }}{% endblock title %}
{% block meta_description %}
    {{ post.title }} - {{ post.subtitle }} | lol101
{% endblock meta_description %}
{% block meta_keywords %}
    {% for tag in post.tags.all %}
        {{ tag.name }},
    {% endfor %} | lol101
{% endblock meta_keywords %}
{% block template %}
<style>
    @media only screen and (min-width: 992px) {
        .col-navbar {
            border-right: 1px solid #dee2e6;
            
        }
    }
</style>

<div class="container" style="max-width: 1500px!important;">
    {% include "./navbar.html" %}
    <div class="row">
        <div class="col col-navbar">{% block content-left %}{% endblock content-left %}</div>
        <div class="col-12 col-lg-8 pt-5 px-4 px-md-5">{% block content-mid %}{% endblock content-mid %}</div>
        <div class="d-none d-lg-block col-lg-3 pt-5">{% block content-right %}{% endblock content-right %}</div>
    </div>
</div>

{% endblock template %}